SECRET_KEY=replace-with-a-long-random-secret-key-at-least-50-characters
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@velorent.local
PERSONAL_DATA_EMAIL=privacy@velorent.local
RENTAL_PROVIDER_NAME=ВелоРент
RENTAL_PROVIDER_DETAILS=ИП Иванов И.И., ИНН 000000000000, адрес: г. Чита
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
SITE_URL=http://127.0.0.1:8000

ONEC_API_URL=http://localhost:8081/api
ONEC_API_TOKEN=demo-token
ONEC_API_TIMEOUT_SECONDS=10
ONEC_SYNC_IMMEDIATE=False

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
USE_X_FORWARDED_PROTO=False

VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URI=
VK_API_VERSION=5.199
VK_GROUP_TOKEN=
VK_COMMUNITY_URL=
