SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@velorent.local

ONEC_API_URL=http://localhost:8081/api
ONEC_API_TOKEN=demo-token

VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URI=
VK_API_VERSION=5.199
VK_GROUP_TOKEN=
VK_COMMUNITY_URL=
